@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

/* CSS-переменные */
:root {
	--dark: #34343E;
	--background: #EDEDED;
	--white: #FDFDFD;
	--accent: #FBA808;
	--gray: #7A7D84;
	--decor: #FF4949;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;

	background-color: var(--background);
	background-image: url("../images/league.png");
	background-size: cover;
	background-repeat: no-repeat;

	font-family: "Rubik", "Arial", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

*, *::before, *::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
  
img {
	max-width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
		  clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.bg-overlay {
	background-color: rgba(52, 52, 62, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.container {
	width: 95%;
	max-width: 1095px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	height: 100%;
	display: flex;
	flex-flow: column;
}

/* Хедер */

.header {
	background-color: var(--dark);
	padding: 40px 65px;
}

.logo {
	display: flex;
	width: 166px;
}

.actions__form {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	height: 42px;
	margin-top: 30px;
}

.search {
	background-color: var(--white);
	border-radius: 16px;
	padding: 7px 20px 7px 64px;
	font-family: inherit;
	font-size: 18px;
	color: var(--gray);
	width: 40%;
	background-image: url(../images/search.svg);
	background-repeat: no-repeat;
	background-position: 25px center;
	background-size: 19px;
}

.button-action {
	display: flex;
    align-items: center;
	justify-content: center;

	padding: 5px 40px;
	background-color: var(--accent);

	font-family: inherit;
	color: var(--white);
	font-weight: bold;
	font-size: 18px;
	
	text-decoration: none;
	border-radius: 16px;
}	

.button-like {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 46px;
	height: 46px;
	background-color: transparent;

	border-radius: 50%;
	border: 2px solid var(--dark);

	cursor: pointer;
}

.button--liked path {
	stroke: var(--decor);
	fill: var(--decor);
}

.button-done {
	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 330px;
	height: 46px;
	background-color: transparent;

	font-weight: 700;
	font-size: 18px;
	line-height: 32px;

	border-radius: 15px;
	border: 2px solid var(--dark);

	cursor: pointer;
}

.button-done span {
    display: flex;
	justify-content: center;
	align-items: center;
}

.button-done svg {
	margin-left: 22px;
}

.button-done path {
	stroke: var(--dark);
}

.button--watched {
	background-color: var(--dark);
	color: var(--white);
}

.button--watched path { 
	stroke: var(--white);
}

/* Main */

.main {
	background-color: var(--background);
	flex-grow: 1;
	padding: 64px;
}

/* Карточки фильмов */

.movies__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}

.movie {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	background-color: var(--white);
	border-radius: 10px;
	padding: 26px;
}

.movie__title {
	margin: 0;
	margin-bottom: 7px;
	padding: 0;

	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
}

.movie__year {
	order: -1;
	margin-bottom: 7px;

	font-size: 18px;
	line-height: 28px;
	color: var(--gray);
}

.movie__genres {
	margin: 0;

	font-size: 18px;
	line-height: 28px;
	color: var(--gray);
}

.movie__img-wrap {
	order: -2;
	display: flex;
	max-width: 418px;
	width: 418px;
	margin-bottom: 15px;
}

.movie__img {
	border-radius: 15px;
}

.movie__buttons {
	display: flex;
	justify-content: space-between;
	align-self: stretch;
	margin-top: 15px;
}

/* Футер */

.footer {
	background-color: var(--background);
	padding: 40px 64px;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copy {
	margin: 0;
	font-size: 18px;
	color: #1d1d1f;
}

.arrow-icon {
	stroke: white;
	transition: all 0.2s ease-in-out;
}

.button-arrow-up {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 46px;
	padding: 0;

	background-color: var(--dark);

	border: none;
	border-radius: 50%;
	
	transition: all 0.2s ease-in-out;
	box-shadow: 0 0 5px var(--dark);

	cursor: pointer;
}

.arrow-up:hover {
	background-color: white;
}

.arrow-up:hover .arrow-icon {
	stroke: var(--dark);
}
